<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="task" class="com.ryujane.sample.task.Task"></bean>
    <task:scheduler id="taskScheduler" pool-size="10"></task:scheduler>
    <task:scheduled-tasks scheduler="taskScheduler">
        <!--每5秒执行一次-->
        <task:scheduled ref="task" method="task1" cron="0/5 * * * * ?"/>
        <task:scheduled ref="task" method="task2" cron="0 0/1 * * * ?" />
        <task:scheduled ref="task" method="task3" cron="0 0/3 * * * ?"/>
    </task:scheduled-tasks>
</beans>